{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}
    <h2> {{programa.state.title}}</h2>
{%endblock%}
{% block content %}
<img src="/media/img/analisisJC.jpg">
<br>
    <p>Actualmente el programa está siendo analizado por su Jefe de Carrera. Cuando este delibere, si no encuentra indicaciones, pasara al estado de aprobación. En el caso contrario, se creará un Reporte de Indicaciones, en el cual el Jefe de Carrera señalará las indicaciones pertinentes para que el programa
    pueda mejorar. A su vez, el programa volverá al primer estado de definiciones, para poder corregir las 
    indicaciones pertinentes. </p>
{% endblock %}
{%block drive%}
<li>Documento en Drive  <td><a href="{{programa.url}}"> <span class="glyphicon glyphicon-cloud"></span></a></td></li>
{%endblock%}
{%block recursosJefe%}
<h4>No hay recursos para este estado.</h4>
{%endblock%}
      

{%block estados%}
    <li class="disabled">Definiciones Generales</li>
    <li class="disabled"> Definición de Contribución al Perfil de Egreso  </li>
    <li class="disabled">Definición Resultados de Aprendizaje</li>
    <li class="disabled">Estrategias de Ensenanza y de Aprendizaje</li>
    <li class="disabled">Definición de Clase a Clase</li>
    <li class="disabled">Análisis de evaluaciones asociadas</li>
    <li class="disabled">Verificación Coherencia y Completitud</li>
    <li class="disabled">Definición de Aspectos Administrativos</li>
    <li class="disabled">Definición de Recursos de Aprendizaje</li>
    <li class="disabled">Aprobación Línea</li>
       <li class="disabled">Fast Track</li>
    <li class="activo">Análisis Programa por Jefe de Carrera</li>
    <li class="disabled">Aprobación Programa por Jefe de Carrera</li>
{%endblock%}

