{% load bootstrap_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Formulapp - Principal Profesor</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap.js"></script>
        <link rel="stylesheet/less" href="/media/less/style.less">
        <script type="text/javascript" src="/media/js/less-1.4.1.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/principalPL/">Programas</a></li>
                <li><a href="/fechasProfe/">Eventos</a></li>
                 <li><a href="/recursosProfe/">Recursos de Aprendizaje</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuracion<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/miperfilProfesor/">Mi Perfil</a></li>
                  </ul>
                </li>
              </ul>     
              <ul>
                  <p class="bienvenido">Bienvenido <strong>{{username}}</strong> <a href="/logout/"><span class="glyphicon glyphicon-log-out"></span></a></p>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>


 <div class="row">
  <div class="col-md-10 col-md-push-2">
    <h2> {{p.state.title}}</h2>
    <p> Actualmente te encuentras en el estado de Definiciones Generales. Estado en el cual definirás la Constribución al Perfil de Egreso, Estrategias de Enseñanza y de Aprendizaje y los Resultados de Aprendizajes Esperados.
</p>
<br><br>


      {%if estadoCons == 'Finalizado' and estadoEstra == 'Finalizado' and estadoRDA == 'Finalizado' %}

      <div class="col-lg-3">
          <img class="img-circle" src="/media/img/rda.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Resultados de Aprendizajes Esperados</h3>
          <p>Estado en el cual se debe definir los resultados esperados en los estudiantes al fin de la asignatura.</p>
          <p>Estado actual: {{estadoRDA}}</p>
          <p><a class="btn btn-default" href="/definicionRdA/{{p.id}}" 63t7redsguj role="button">Definir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="/media/img/estrategias.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3> Estrategias de Enseñanza</h3>
          <p>Estado en el cual se debe señalar y describir brevemente los métodos seleccionados para asegurar que los alumnos desarrollen los aprendizajes esperados. </p>
          <p>Estado actual: {{estadoEstra}}</p>
          <p><a class="btn btn-default" href="/definicionEstra/{{p.id}}" role="button">Definir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle" src="/media/img/perfil.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Constribución al Perfil de Egreso</h3>
          <p>Estado en el cual se debe explicitar atributos o elementos del perfil de egreso de la carrera a los que aporta la asignatura. </p>
          <p>Estado actual: {{estadoCons}} </p>
          <p><a class="btn btn-default" href="/definicionConstribucion/{{p.id}}"role="button">Definir »</a></p>
        </div>
        <div class="col-lg-3">
          <img class="img-circle" src="/media/img/calendario.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Clase a Clase</h3>
          <p>Definición del Clase a Clase, en dónde se debe señalar por cada semana del semestre, el Resultado de Aprendizaje esperado y las unidades temáticas que serán vistas en ese periodo de tiempo.  </p>
          <p>Estado actual: {{estadoClase}} </p>
          <p><a class="btn btn-default" href="/definicionclaseclase/{{p.id}}"role="button">Definir »</a></p>
        </div><!-- /.col-lg-4 -->
               

            {%else%}
        <div class="col-lg-4">
          <img class="img-circle" src="/media/img/rda.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Resultados de Aprendizajes Esperados</h3>
          <p>Estado en el cual se debe definir los resultados esperados en los estudiantes al fin de la asignatura.</p>
          <p>Estado actual: {{estadoRDA}}</p>
          <p><a class="btn btn-default" href="/definicionRdA/{{p.id}}" 63t7redsguj role="button">Definir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/media/img/estrategias.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3> Estrategias de Enseñanza</h3>
          <p>Estado en el cual se debe señalar y describir brevemente los métodos seleccionados para asegurar que los alumnos desarrollen los aprendizajes esperados. </p>
          <p>Estado actual: {{estadoEstra}}</p>
          <p><a class="btn btn-default" href="/definicionEstra/{{p.id}}" role="button">Definir »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/media/img/perfil.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h3>Constribución al Perfil de Egreso</h3>
          <p>Estado en el cual se debe explicitar atributos o elementos del perfil de egreso de la carrera a los que aporta la asignatura. </p>
          <p>Estado actual {{estadoCons}}
          <p><a class="btn btn-default" href="/definicionConstribucion/{{p.id}}"role="button">Definir »</a></p>
        </div><!-- /.col-lg-4 -->
      {%endif%} 
              
            <br></br>
</div>
 

  <div class="col-md-2 col-md-pull-10">
    <h3 class="estados"> Estados </h3>

    <li class="disabled">Definiciones Generales</li>
    <li class="activo"> Definicion de Constribución al Perfil de Egreso  </li>
    <li class="activo">Definición Resultados de Aprendizaje</li>
    <li class="activo">Estrategias de Ensenanza y de Aprendizaje</li>
    {%if estadoCons == 'Finalizado' and estadoEstra == 'Finalizado' and estadoRDA == 'Finalizado' %}
    <li class="disabled">Definicion de Clase a Clase</li>
    {%else%}
      <li class="activo">Definicion de Clase a Clase</li>
      {%endif%}
    <li class="disabled">Análisis de evaluaciones asociadas</li>
    <li class="disabled">Verificacion Coherencia y Completitud</li>
    <li class="disabled">Programación de Actividades</li>
    <li class="disabled">Definición de Aspectos Administrativos</li>
    <li class="disabled">Definición de Recursos de Aprendizaje</li>
    <li class="disabled">Aprobación Línea</li>
    <li class="disabled">Análisis Programa por Jefe de Carrera</li>
    <li class="disabled">Aprobación Programa por Jefe de Carrera</li>
  </div>
</div>

</body>    
</html>


            