{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}
  	<h2> {{p.state.title}}</h2>
{%endblock%}
{% block content %}
    <p> Actualmente te encuentras en el estado de Definiciones Datos Asignatura. Estado en el cual definirás los aspectos generales de tu programa, ya sea nombre de la asignatura, TEL, requisitos, entre otros.
      <br>Todo lo que tendrás que definir se encuentra en la siguiente plantillas:</br>
      
      <br>La cual podrás utilizar en el documento drive que se creó para formular tu programa.
      Recuerda llevar constancia de tu trabajo marcando si ya está finalizado o si aún sigue en modificación. Ya que si no lo indicas no podrás seguir avanzando.</br>
</p>
{% endblock %}
{%block drive%}
<li>Documento en Drive  <td><a href="{{p.url}}"> <span class="glyphicon glyphicon-cloud"></span></a></td></li>
{%endblock%}
{%block recursosJefe%}
<br>
<table class="table-recursos table-striped">
<thead>
                        <tr>
                            <th>Nombre Recurso</th>
                            <th>Archivo</th>

                        </tr>
                    </thead>
                    <tbody>
                         {%for r in recursos%}
                        <tr>
                            <td>{{r.titulo_recurso}}</td></a>
                           <td><a href="/files/serve/{{r.recurso}}"><span class="glyphicon glyphicon-paperclip"></a></span></td>
                        </tr>
                        {%endfor%}
                    </tbody>
</table>
{%endblock%}
  {%block defEstado%}
 <button type="button"   class="btn btn-info" data-toggle="modal" data-target="#myModal">
                        Guardar avance
                        </button>
 
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                <h4 class="modal-title" id="myModalLabel">Guardar Avance</h4>
                              </div>
                              <div class="modal-body">
                                <p>¿En qué estado se encuentra la definición de datos de asignatura?</p>
                                    <form id="defEstado"  class="form-horizontal" action="/definicionesGenerales/{{p.id}}/" method="POST">
                                    {% csrf_token %}
                                    
                                    <p><input type="radio" name="optionsRadios"  value="option2"> Finalizado</p>
                                    <p><input type="radio" name="optionsRadios"  value="option1"> Aún Modificando</p>
                                    <button class="btn btn-success" type="submit">Guardar</button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                               
                              </div>
                            </div>
                          </div>
                        </div>
  {%endblock%}          

{%block estado%}
  	<li class="activo">Definiciones Generales</li>
{%endblock%}

