{% load bootstrap_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Formulapp - Principal Profesor</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap.js"></script>
        <link rel="stylesheet/less" href="/media/less/style.less">
        <script type="text/javascript" src="/media/js/less-1.4.1.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/principalPL/">Programas</a></li>
                <li><a href="#about">Mensajeria</a></li>
                <li><a href="/crearFechas/">Eventos</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuracion<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/miperfil/">Mi Perfil</a></li>
                  </ul>
                </li>
              </ul>     
              <ul>
                <p class="bienvenido">Bienvenido <strong>{{username}}</strong>
                <a href="#"><span class="glyphicon glyphicon-envelope"></span><span class="badge">4</span></a>
                </p>
                <p class="logout"><a href="/logout/">Cerrar Sesión</a></p>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

 <div class="row">
  <div class="col-md-10 col-md-push-2">
    <h2> {{p.state.title}}</h2>
    <p> Actualmente te encuentras en el estado de Definiciones Generales. Estado en el cual definirás la constribución al Perfil de Egreso, estrategias y los Resultados de Aprendizajes esperados.
</p>
<li>Documento en Drive  <td><a href="{{p.url}}"><span class="glyphicon glyphicon-cloud"></span></a></td></li>
<div class="panel panel-primary">        
            <div class="panel-heading">
                <h3 class="panel-title">Constribución al Perfil de Egreso</h3>
            </div>
            <div class="panel-body">
                <a href="/definicionConstribucion/{{p.id}}"><button type="button" class="btn btn-default">Definir</button></a> 
                <li>Estado actual: {{p.objetivo.estadoObj}}</li>
            </div>
        </div>

    <div class="panel panel-primary">        
            <div class="panel-heading">
                <h3 class="panel-title">Resultados de Aprendizaje</h3>
            </div>
            <div class="panel-body">
               <a href="/definicionRdA/{{p.id}}"><button type="button" class="btn btn-default">Definir</button></a>
               <li>Estado actual: {{p.capacidad.estadoCapac }} </li> 
            </div>
    </div>

      
      <div class="panel panel-primary">        
            <div class="panel-heading">
                <h3 class="panel-title">Estrategias de Enseñanza y de Aprendizaje</h3>
            </div>
            <div class="panel-body">
                <a href="/definicionEstra/{{p.id}}"><button type="button" class="btn btn-default">Definir</button></a>
                <li>Estado actual: {{p.contenido.estadoCont }}</li>
            </div>
        </div>  
        {%if p.objetivo.estadoObj == 'Finalizado' and p.contenido.estadoCont == 'Finalizado' and p.capacidad.estadoCapac == 'Finalizado' %}
                <td><a href="/definicionclaseclase/{{p.id}}"><button type="button">Definir Clase a Clase</button></a></td>
            {%endif%}   
            <br></br>
</div>


  <div class="col-md-2 col-md-pull-10">
    <h3 class="estados"> Estados </h3>

    <li class="disabled">Definiciones Generales</li>
    <li class="activo"> Definicion de Constribución al Perfil de Egreso  </li>
    <li class="activo">Definición Resultados de Aprendizaje</li>
    <li class="activo">Estrategias de Ensenanza y de Aprendizaje</li>
    <li class="disabled">Definicion de Clase a Clase</li>
    <li class="disabled">Análisis de evaluaciones asociadas</li>
    <li class="disabled">Verificacion Coherencia y Completitud</li>
    <li class="disabled">Programación de Actividades</li>
    <li class="disabled">Definición de Aspectos Administrativos</li>
    <li class="disabled">Definición de Recursos de Aprendizaje</li>
    <li class="disabled">Aprobación Línea</li>
    <li class="disabled">Análisis Programa por Jefe de Carrera</li>
    <li class="disabled">Aprobación Programa por Jefe de Carrera</li>
  </div>
</div>

</body>    
</html>


            