{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
	<h1>Resumen de Programa de Asignatura </h1>
	<br>Asignatura:  {{p.asignatura}}</br>
	<br>Semestres: {{p.semestre}}</br>
	<br>Año:  {{p.ano}} </br>
	<br>Estado actual: {{p.state.title}} </br> 
	<table style="width:50%">
  		<tr>
  			<td>Definición</td>
  			<td>Última Modificación</td>
  			<td>Acción</td>
  		</tr>
  		<tr>
  			<td>Definición Capacidades</td>
  			<td>{{p.capacidad.ultimaModificacionCapac}}
  			<td><a href="{{capac.ultimaModificacionCapac}}"></a>Ver</td>
  		</tr>
  		<tr>
  			<td>Definición Contenidos</td>
  			<td>{{p.contenido.ultimaModificacionCont}}
  			<td><a href=""></a>Ver</td>
  		</tr>
  		<tr>
  			<td>Definición  Objetivos</td>
  			<td>{{p.objetivo.ultimaModificacionObj}}
  			<td><a href=""></a>Ver</td>
  		</tr>
  		<tr>
  			<td>Definición Clase a Clase</td>
  			<td>{{p.claseclase.ultimaModificacionClase}}
  			<td><a href=""></a>Ver</td>
  		</tr>
	</table>
	<h4>¿Existen formas de evaluación asociadas a los objetivos, capacidades y contenidos?</h4>
<form action="/prueba/{{p.id}}/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Si" name="Existen">  
    <input type="submit" value ="No"name="noExisten">
</form>
{% endblock %}