{% load bootstrap_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Formulapp - Principal Coordinador de Linea</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js">
        </script>
        <script type="text/javascript" src="/media/js/jquery.js"></script>
        <script type="text/javascript" src="/media/js/bootstrap.js"></script>
        <link rel="stylesheet/less" href="/media/less/style.less">
        <script type="text/javascript" src="/media/js/less-1.4.1.min.js"></script>
        <script type="text/javascript" src="/media/js/less-1.4.1.min.js"></script>

        <!--  {{ form.media }} -->
  <link href="/media/static/css/datetimepicker.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/media/static/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/media/static/js/locales/bootstrap-datetimepicker.es.js"></script>
<script type="text/javascript" src="/media/static/js/bootstrap-datetimepicker.js "></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a href="/principal_cl/">Programas</a></li>
                <li class="active"><a href="/crearFechasCord/">Eventos</a></li>
                 <li><a href="/reportesIndicacionCord/">Reportes de Indicación</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/miperfilCord/">Mi Perfil</a></li>
                    <li><a href="/recursosCord/">Recursos de Formulación</a></li>
                    <li><a href="/roles/{{user.id}}">Cambiar de Rol</a></li>
                  </ul>
                </li>
              </ul>     
              <ul>
                <p class="bienvenido">Bienvenido <strong>{{username}}</strong> <a href="/logout/"><span class="glyphicon glyphicon-log-out"></span></a></p>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

    <div class="row">  


      <div class="panel panel-primary">        
        <div class="panel-heading">
          <h3 class="panel-title">Mis Eventos</h3>
        </div>  
        <div class="panel-body">
          {%if eventos%}
          <table class="table">
            <thead>
              <tr>
                <th>Título</th>
                <th>Tipo Evento</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
                        {%for e in eventos%}
                        <tr>
                            <td>{{e.summary}}</td>
                            {%if e.tipoEvento == 'general'%}
                            <td> 'Tipo General'</td>
                            {%else%}
                            {%if e.tipoEvento == 'coordinadores'%}
                            <td>Solo Coordinadores</td>
                            {%else%}
                            {%if e.tipoEvento == 'profesor'%}
                            <td>Profesores de la Línea</td>
                            {%else%}
                            {%if e.tipoEvento == 'jefe'%}
                            <td>Invitación al Jefe de Carrera</td>
                            {%endif%}
                            {%endif%}
                            {%endif%}
                            {%endif%}
                            <td>{{e.start}}</td>
                            <td>{{e.end}}</td>
                            
                            <td><a class="glyphicon glyphicon-pencil" href="/editFechas/{{e.id}}"></a></td></span></td>  
                            <td><a href="/deleteFechasCord/{{e.id}}/"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>  
        {%else%}
        <p>No has creado eventos, presiona el botón para crear el primero </p>
        {%endif%}
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                          Agregar Evento
                          </button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                <h4 class="modal-title" id="myModalLabel">Agregar nuevo Evento</h4>
                              </div>
                              <div class="modal-body">
                                    <form action="/crearFechasCord/" method="POST">
                                        {%csrf_token%}
                                        {{ form|as_bootstrap}}
                                         <button type="submit" class="btn btn-success"><strong>Guardar</strong></button>
                                    </form> 
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                               
                              </div>
                            </div>
                          </div>
                        </div>

            </div>
  </div>

      <div class="panel panel-primary">        
        <div class="panel-heading">
          <h3 class="panel-title">Eventos invitados</h3>
        </div>  
        <div class="panel-body">
          {%if todos%}
          <table class="table">
            <thead>
              <tr>
                <th>Título</th>
                <th>Anfitrion</th>
                <th>Tipo Evento</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>

              </tr>
            </thead>
            <tbody>
                        {%for e in todos%}
                        <tr>
                            <td>{{e.summary}}</td>
                            <td>{{e.anfitrion.first_name}} {{e.anfitrion.last_name}}</td>
                            {%if e.tipoEvento == 'general'%}
                            <td>Invitación General</td>
                            {%else%}
                            {%if e.tipoEvento == 'coordinadores'%}
                            <td>Solo Coordinadores</td>
                            {%else%}
                            {%if e.tipoEvento == 'profesor'%}
                            <td>Profesores de la Línea</td>
                            {%else%}
                            {%if e.tipoEvento == 'jefe'%}
                            <td>Invitación al Jefe de Carrera</td>
                            {%endif%}
                            {%endif%}
                            {%endif%}
                            {%endif%}
                            <td>{{e.start}}</td>
                            <td>{{e.end}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
          </table>  
        {%else%}
        <p>No hay Eventos Creados</p>
        {%endif%}
        </div>
      </div>
</div>
        
    </body>    
</html>

            