<html>
	<head>
		<title>Principal</title>
		<script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/bootstrap.js"></script>
    <link rel="stylesheet/less" href="/media/less/style.less">
    <script type="text/javascript" src="/media/js/less-1.4.1.min.js"></script>
	</head>
	<body>
		<!-- Container mayor -->
		<header>z
			<li>Bienvenido Usuario{{username}}
			<ul><li><a href="/logout">Cerrar Sesión</a></ul></li>

		</header>
    <nav>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div class="navbar-collapse collapse">
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    </nav>
		<div id= "container-mayor">
		</div>
		<!-- Fin container mayor -->
	</body>

</html>