<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jumbotron Template for Bootstrap</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/bootstrap.js"></script>
    <link rel="stylesheet/less" href="/media/less/style.less">
    <script type="text/javascript" src="/media/js/less-1.4.1.min.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Configuracion</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Formulapp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Programas</a></li>
            <li><a href="#about">Mensajeria</a></li>
            <li><a href="#contact">Indicadores</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuracion<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mi Perfil</a></li>
                <li><a href="#">Lineas de Asignatura</a></li>
                <li><a href="#">Recursos de Aprendizaje</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
        <ul>dospd</ul>
      </div>
    </nav>

    <div class="container">
      <div class="page-header">}
        {% block content%}
        {% endblock content%}
      </div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>
  
      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->



  </body>
</html>