<html>
	<head>
		<title>Principal</title>
		<script type="text/javascript" src="/media/js/jquery.js"></script>
    	<script type="text/javascript" src="/media/js/bootstrap.js"></script>
    	<link rel="stylesheet/less" href="/media/less/style.less">
    	<script type="text/javascript" src="/media/js/less-1.4.1.min.js"></script>
	</head>
	<body>
		<!-- Container mayor -->
		<header>
			<li>Bienvenido Usuario{{username}}</li>
		
		</header>
		<div id= "container-mayor">




		</div>
		<!-- Fin container mayor -->
	</body>

</html>